/* All styles for your header Components live here */

 .HeaderTitle {
    display: flex;
    border: 1px solid green;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 
} 

.HeaderContainer {
    display: flex;
    justify-content: flex-start;
    border: 1px solid blue;
    width: 50%;
}

.thumbnail {
    width: 10%;
    height: 10%;
    margin-right: 2%;
    border: 1px solid purple;
}

.Date {
    display: flex;
    justify-content: flex-start;
    /* border: 1px solid red; */
    width: 11%;
    height: 20%;
    color: gray;
    margin-top: 3%;
}


.LambdaHandle {
    height: 22%;
    margin: 3% 2% 0 2%;
    /* border: 1px solid salmon; */
    color: gray;
}

.HeaderContent {
    width: 50%;
    border: 1px dashed lawngreen;
}

.background {
    width: 50%;
    height: 50%;
}